.hidden {
  display: none;
}

.null {
  background-color: #ccc;
}

.active {
  background-color: #acca6f;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

td:hover {
  background-color: lightblue;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}
